{% extends "base.html" %}


<!-- Content -->
{% block content %}

{% if page.edit_url %}
<a
        href="{{ page.edit_url }}"
        title="{{ lang.t('edit.link.title') }}"
        class="md-content__button md-icon"
>
    {% include ".icons/material/pencil.svg" %}
</a>
{% endif %}

{% if not "\x3ch1" in page.content %}
<h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}

<!-- Markdown content -->
{% if page.meta.outdated %}

<div class="admonition warning">
    <p class="admonition-title">Warning</p>
    <p>This page is outdated and no longer maintained</p>
</div>
{% endif %}

{{ page.content }}


{% endblock %}