{%if config.extra.analytics.cloudflare.enabled %}
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{config.extra.analytics.cloudflare.token}}"}'></script>
<!-- End Cloudflare Web Analytics -->
{% endif %}

{%if config.extra.analytics.umami.enabled %}
<!-- Umami Web Analytics -->
<script defer src="https://{{config.extra.analytics.umami.url}}/script.js" data-website-id="{{config.extra.analytics.umami.siteId}}"></script>
<!-- End Umami Web Analytics -->
{% endif %}
