name: Dev
on:
  pull_request:
    types: [synchronize, opened]
    paths:
      - docs/**
      - .github/workflows/dev.yaml
      - overrides/**
      - mkdocs.yml
      - dev-robots.txt
      - .htpasswd
      - dev.Dockerfile
      - cloudflare.conf
      - deny.conf
      - dev-nginx.conf
      - dev.toml
jobs:
  site:
    runs-on: ubuntu-latest
    name: Build Documentation
    environment:
      name: Development
      url: https://dev-documentation.breadnet.co.uk
    concurrency:
      group: dev
      cancel-in-progress: true
    steps:
      - name: Echo env
        run: env
      - name: Git Clone
        uses: actions/checkout@v4
      - name: Fly Build and Deploy
        uses: userbradley/actions-fly@v1.1.0
        with:
          flyToken: ${{ secrets.FLY_ACCESS_TOKEN_DEV }}
          configFile: ${{ vars.CONFIG_FILE }}
          dockerfileName: ${{ vars.DOCKERFILE }}
