name: Production
on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - .github/workflows/prod.yaml
      - overrides-prod/**
      - mkdocs.yml
      - cloudflare.conf
      - deny.conf
      - prod.toml


jobs:
  site:
    runs-on: ubuntu-latest
    name: Build Documentation
    steps:
      - name: Git Clone
        uses: actions/checkout@v3
      - name: Fly Build and Deploy
        uses: userbradley/actions-fly@v1.0.0
        with:
          flyToken: ${{ secrets.FLY_ACCESS_TOKEN_PROD }}
          configFile: "prod.toml"
